.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: dragonfly;
  src: url(./Dragonfly.otf);
}

@font-face {
  font-family: europa;
  src: url(./EuropaBrush-Regular.woff);
}

@font-face {
  font-family: besom;
  font-weight: 600;
  src: url(./Besom-Handwritten-Brush-Font.ttf);
}

.clock {
  width: 400px;
  position: absolute;
  padding: 20px;
  box-sizing: border-box;
}

.clock-text-area-wrapper {
  height: 160px;
  width: 360px;

  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
}

.clock-text-area {
  font: 30px besom;
  box-sizing: border-box;

  width: 100%;

  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 4px;

  margin: 0;
  line-height: 48px;
  opacity: 0.7;
  color: #333;
  resize: none;

  text-align: center;
  display: inline-block;
  vertical-align: middle;

  padding: 15px;
  border-radius: 8px;

  border: none;
  background: none;
}

.text-area {
  display: inline0bkicj;
  vertical-align: middle;
}

.clock-text-area:hover {
  background: #FFF6;
}

.clock-text-area:focus {
  background: #FFF6;
  outline: none;

}

.clock-text-area p {
  margin: 0;
}
