@font-face {
  font-family: dragonfly;
  src: url(./Dragonfly.otf);
}

@font-face {
  font-family: europa;
  src: url(./EuropaBrush-Regular.woff);
}

@font-face {
  font-family: besom;
  font-weight: 600;
  src: url(./Besom-Handwritten-Brush-Font.ttf);
}

html, body, #root, .App {
  height: 100%;
}

.clocks {
  text-align: center;

  padding: 20px;

  font: 30px besom;
  letter-spacing: 4px;
  text-transform: uppercase;

  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.clocks article {
  width: 380px;
  height: 380px;
  position: relative;

  padding: 20px;
  margin: 10px;

  box-sizing: border-box;
}

.clocks article header {
  height: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clocks article svg {
  z-index: -1;
  top: -10px;
  left: -10px;
  position: absolute;
}

.clocks h1 {
  font: inherit;
  margin: 0;
  opacity: 0.7;
}
